@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Raleway:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 110%;
    color: #050505;
}

/* Headings and Logo */

h1, h2 {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ED1C24;
    text-align: center;
    padding: 10px;
}

#logo {
    margin: 0 auto;
    font-size: 280%;
    text-decoration: underline;
}

#menu {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu a {
    font-size: 150%;
    text-decoration: none;
    color: inherit;
    margin: 0 40px;
}

#menu a:hover {
    border-bottom: 1px solid #ED1C24;
    font-size: 200%;
}

.active {
    border-bottom: 1px solid #ED1C24;
    color: #ED1C24;
}

/* Treadmil Image & cover text */

#treadmil-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#cover-text h2 {
    color: #ED1C24;
    text-decoration: underline;
    letter-spacing: 5px;
}

#treadmil-image {
    height: 800px;
    width: 100%;
    padding-top: 10px;
    background: url(../images/man-on-treadmil.jpg) no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 120%;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;

    width: 300px;
    height: 300px;

    bottom: 500px;
    left: 42%;

    background-color: rgba(255, 255, 255, 0.7);
    
    position: absolute;

    /* Animation zoom effect on text */
    animation-name: text-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creation of level of zoom */
@keyframes text-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text h2, h3 {
    padding: 20px;
}

/* Benefits section with photos */

#benefits-wrap {
    display: grid;
    padding: 2rem;
    grid-template-columns: 40% 40%;
    grid-template-rows: 300px;
    gap: 1rem;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
}

#benefits-wrap img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
}

#benefits-wrap h3 {
    text-align: center;
    color: #ED1C24;
}

#benefits-wrap p {
    text-align: center;
    padding: 20px;
}

/* Classes section */

#classes {
    background-image: url(../images/gym-ropes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#classes div {
    color: white;
    background-color: rgba(0, 0, 0, .6);
    width: 16.666%;
    height: 300px;
    float: left;
    text-align: center;
    letter-spacing: 1px;
    border: 2px solid white;
    box-sizing: border-box;
    padding: 60px;
}

#classes h3 {
    color: #ED1C24;
    text-decoration: underline;
}